init_config:

instances:
  - mysql_host: '127.0.0.1'
    mysql_user: 'root'
    mysql_password: 'root'
    mysql_database: 'gearmand'
    mysql_table: 'gearman_queue'
    mysql_port: 3306
    whitelist:
      - test_queue_one
      - test_queue_two
